
import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
import { getFirestore, collection, addDoc, getDocs } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js";
import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js";


const firebaseConfig = {
  apiKey: "AIzaSyCacVmtIT1Y0NGHy43VJQf8CZ8x47Ju5M4",
  authDomain: "luxoto-19d55.firebaseapp.com",
  projectId: "luxoto-19d55",
  storageBucket: "luxoto-19d55.firebasestorage.app",
  messagingSenderId: "671208774332",
  appId: "1:671208774332:web:37f9938c52cd0db5f9ceb9"
};


const app = initializeApp(firebaseConfig);
const db = getFirestore(app);
const auth = getAuth(app);

// MODAL
window.openModal = (id)=>{
    document.getElementById(id).style.display="flex";
};

// LOGIN
window.login = async ()=>{
    const email=document.getElementById('email').value;
    const pass=document.getElementById('pass').value;

    try{
        await signInWithEmailAndPassword(auth,email,pass);
        alert("Giriş başarılı 🔥");
    }catch(e){
        alert("Hata: "+e.message);
    }
};

// ADD AD
window.addAd = async ()=>{
    const marka=document.getElementById('marka').value;
    const model=document.getElementById('model').value;

    await addDoc(collection(db,"ads"),{
        marka,model,created:Date.now()
    });

    loadAds();
    alert("İlan eklendi 🚀");
};

// LOAD ADS
async function loadAds(){
    const querySnapshot = await getDocs(collection(db,"ads"));
    const container=document.getElementById('ads');
    container.innerHTML="";

    querySnapshot.forEach(doc=>{
        const ad=doc.data();

        container.innerHTML+=`
        <div class="card">
            <h3>${ad.marka} ${ad.model}</h3>
        </div>`;
    });
}

// SEARCH
window.searchAds = (val)=>{
    val=val.toLowerCase();

    document.querySelectorAll(".card").forEach(c=>{
        c.style.display = c.innerText.toLowerCase().includes(val) ? "block" : "none";
    });
};

// START
loadAds();
